<a href="https://colab.research.google.com/github/dionipadilha/Python/blob/main/dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dictionary constructor:
car = dict(brand = "Ford", model = "Corcel", year = 1973)
print(car)

{'brand': 'Ford', 'model': 'Corcel', 'year': 1973}

In [ ]:
# store data values in key:value pairs:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car

{'brand': 'Ford', 'model': 'Corcel', 'year': 1973}

In [ ]:
# Dictionary cannot have two items with the same key:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1969,
  "year": 1973
}
car

{'brand': 'Ford', 'model': 'Corcel', 'year': 1973}

In [ ]:
# Access the dictionary items:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car["brand"]

'Ford'

In [ ]:
# Dictionary items are changeable:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1969
}
car["year"] = 1973
car

{'brand': 'Ford', 'model': 'Corcel', 'year': 1973}

In [ ]:
# Dictionary length:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
len(car)

3

In [ ]:
# Dictionary data types:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "electric": False,
  "year": 1973,
  "colors": ["red", "white", "blue"]
}
car

{'brand': 'Ford',
 'model': 'Corcel',
 'electric': False,
 'year': 1973,
 'colors': ['red', 'white', 'blue']}

In [ ]:
# Get a list of the items:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car.items()

dict_items([('brand', 'Ford'), ('model', 'Corcel'), ('year', 1973)])

In [ ]:
# Get a list of the keys:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
# Get the value of a key:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car["model"]

'Corcel'

In [ ]:
# Get a list of the values:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car.values()

dict_values(['Ford', 'Corcel', 1973])

In [ ]:
# Get the value of the key using get:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car.get("model")

'Corcel'

In [ ]:
# Check if a specified key is present in a dictionary:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
if "model" in car: print("Yes, its present!")

Yes, its present!

In [ ]:
# Update the value:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1969
}
car["year"] = 1973
car

{'brand': 'Ford', 'model': 'Corcel', 'year': 1973}

In [ ]:
# Update the value using update:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1969
}
car.update({"year": 1973})
car

{'brand': 'Ford', 'model': 'Corcel', 'year': 1973}

In [ ]:
# Add a new item to the original dictionary:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1969
}
car["electric"] = False
car

{'brand': 'Ford', 'model': 'Corcel', 'year': 1969, 'electric': False}

In [ ]:
# Removes the item with the specified key name:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
del car["model"]
car

{'brand': 'Ford', 'year': 1973}

In [ ]:
# Removes the item with the specified key name:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car.pop("model")
car

{'brand': 'Ford', 'year': 1973}

In [ ]:
# Removes the last inserted item:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car.popitem()
car

{'brand': 'Ford', 'model': 'Corcel'}

In [ ]:
# Empties the dictionary:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
car.clear()
car

{}

In [ ]:
# Delete the dictionary completely:
car = {
  "brand": "Ford",
  "model": "Corcel",
  "year": 1973
}
del car
# car # error

## Loop Dictionaries

In [ ]:
# Loop through keys in the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for k in thisdict: print(k)

brand
model
year

In [ ]:
# Loop through values in the dictionary:
for x in thisdict: print(thisdict[x])

Ford
Mustang
1964

In [ ]:
# Loop through keys in the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for k in thisdict.keys(): print(k)

brand
model
year

In [ ]:
# Loop through values in the dictionary:
for v in thisdict.values(): print(v)

Ford
Mustang
1964

In [ ]:
# Loop through values in the dictionary:
for item in thisdict.items(): print(item)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [ ]:
# Loop through values in the dictionary:
for k, v in thisdict.items(): print(k, v)

brand Ford
model Mustang
year 1964

## Copy Dictionaries

In [ ]:
# Make a copy of a dictionary with the copy() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Make a copy of a dictionary with the dict() function:
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries

In [ ]:
# Create a dictionary that contain dictionaries:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}}

In [ ]:
# Access items in nested dictionaries:
print(myfamily["child2"]["name"])

Tobias