<a href="https://colab.research.google.com/github/dionipadilha/Python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Functions

In [ ]:
# Creating a function:
def my_function():
  print("Hello from a function")

In [ ]:
# Calling a function:
my_function()

Hello from a function

In [ ]:
#  Function with arguments:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [ ]:
# Arbitrary arguments, *args:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
# Keyword Arguments:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
# Arbitrary Keyword Arguments, **kwargs:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
# Default parameter value:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function()
my_function("Brazil")

I am from Sweden
I am from Norway
I am from Brazil

In [ ]:
# Passing a list as an argument:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
# Return values:
def my_function(x):
  return 5 * x

print(my_function(3))

15

In [ ]:
# Function recursion:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

tri_recursion(3)

1
3
6

6

## Lambda Functions

In [ ]:
# Lambda functions:
f = lambda x : x + 10
print(f(5))

15

In [ ]:
# Lambda functions with multiply arguments:
f = lambda a, b : a * b
print(f(5, 6))

30

In [ ]:
# Lambda function inside another function:
def mymultipler(n):
  return lambda x : x * n

mydoubler = mymultipler(2)
mytripler = mymultipler(3)

print(mydoubler(11), mytripler (11))

22 33