<a href="https://colab.research.google.com/github/dionipadilha/Python/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists

## Lists

In [ ]:
# Lists are created using square brackets:
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Lists are created using list constructor:
fruits = list(("apple", "banana", "cherry", "orange"))
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# List items are changeable:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[1] = "bike"
print(fruits)

['apple', 'bike', 'cherry', 'orange']

In [ ]:
# List allow duplicates:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[1] = "orange"
print(fruits)

['apple', 'orange', 'cherry', 'orange']

In [ ]:
# List length:
fruits = ["apple", "banana", "cherry", "orange"]
print(len(fruits))

4

In [ ]:
# List items can be of any data type:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

## List Items

In [ ]:
# Access list items:
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits[0])

apple

In [ ]:
# Negative indexing:
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits[-1])

orange

In [ ]:
# Range of indexes:
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits[1:3])

['banana', 'cherry']

In [ ]:
# Start at the first item:
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits[:3])

['apple', 'banana', 'cherry']

In [ ]:
# Go to the end of the list:
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits[2:])

['cherry', 'orange']

In [ ]:
# Range of Negative Indexes:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
# Check if Item Exists
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "apple" in fruits: print("do something")

do something

In [ ]:
# Change the value of a specific item:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[1] = "mango"
print(fruits)

['apple', 'mango', 'cherry', 'orange']

In [ ]:
# Change a range of item values:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[1:3] = ["mango","kiwi"]
print(fruits)

['apple', 'mango', 'kiwi', 'orange']

In [ ]:
# Insert more items than you replace:
fruits = ["apple", "banana", "cherry"]
fruits[1:2] = ["blackcurrant", "watermelon"]
print(fruits)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
# Insert less items than you replace:
fruits = ["apple", "banana", "cherry"]
fruits[1:3] = ["watermelon"]
print(fruits)

['apple', 'watermelon']

In [ ]:
# Add an item to the end of the list:
fruits = ["apple", "banana", "cherry"]
fruits.append("watermelon")
print(fruits)

['apple', 'banana', 'cherry', 'watermelon']

In [ ]:
# Insert a new list item  at the specified index:
fruits = ["apple", "banana", "cherry"]
fruits.insert(2, "watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
# Extend list:
fruits = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
fruits.extend(tropical)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# Removes the last item:
fruits = ["apple", "banana", "cherry"]
fruits.pop()
print(fruits)

['apple', 'banana']

In [ ]:
# Removes the specified index:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [ ]:
# Removes the specified item:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [ ]:
# Delete the specified index:
fruits = ["apple", "banana", "cherry"]
del fruits[1]
print(fruits)

['apple', 'cherry']

In [ ]:
# delete the list completely:
fruits = ["apple", "banana", "cherry"]
del fruits
# print(fruits) # error

In [ ]:
# Clear the list:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

## Loop Through a List

In [ ]:
# Loop through the list items:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits: print(fruit)

apple
banana
cherry

In [ ]:
# Loop through the list items by referring to their index:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)): print(fruits[i])

apple
banana
cherry

In [ ]:
# Loop through the list items by using a while loop:
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
banana
cherry

In [ ]:
# create a new list based on the an existing list:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for fruit in fruits:
  if "a" in fruit:
    newlist.append(fruit)

print(newlist)

['apple', 'banana', 'mango']

## List Comprehension

In [ ]:
# List Comprehension:
fruits = ["apple", "banana", "cherry"]
[print(fruit) for fruit in fruits];

apple
banana
cherry

In [ ]:
# List Comprehension with condition:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [fruit.upper() for fruit in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
# List Comprehension with condition:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [fruit for fruit in fruits if "a" in fruit]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
# The condition is like a filter:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [fruit for fruit in fruits if fruit != "banana"]
print(newlist)

['apple', 'cherry', 'kiwi', 'mango']

In [ ]:
# Return "orange" instead of "banana":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [fruit if fruit != "banana" else "orange" for fruit in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

## Sort Lists

In [ ]:
# Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
# Sort Descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
# Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
# Case Sensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
# Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
# Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
# Customize Sort Function
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

## Lists Copy

In [ ]:
# Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
# Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## List Join

In [ ]:
# Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1 = list1 + list2
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Join two list:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]