<a href="https://colab.research.google.com/github/dionipadilha/Python/blob/main/python_poo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Classes and Objects

## Create Classes and Objects

In [ ]:
# Create a class with a property:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

In [ ]:
# Create objects:
p1 = Person("Ana", 36)
p2 = Person("Bob", 42)

In [ ]:
# Print the objects properties:
print(p1.name, p1.age)
print(p2.name, p2.age)

Ana 36
Bob 42

In [ ]:
# Print the objects:
print(p1)
print(p2)

<__main__.Person object at 0x7f99f4da57b0>
<__main__.Person object at 0x7f99f4da55a0>

## The string representation

In [ ]:
# The string representation of an object:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

## Object Methods

In [ ]:
# Object Methods:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def greeting(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.greeting()

Hello my name is John

## Modify Object Properties

In [ ]:
# Modify Object Properties:
p1.age = 40
print(p1.name, p1.age)

John 40

In [ ]:
# Insert New Object Properties:
p1.lastname = "Doe"
print(p1.name, p1.lastname)

John Doe

In [ ]:
# Delete Object Properties:
del p1.age

In [ ]:
# Delete objects:
del p1

## Inheritance

In [ ]:
# Create a Parent Class:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

p = Person("John", "Doe")
p.printname()

John Doe

In [ ]:
# Create a Child Class:
class Student(Person):
  def __init__(self, fname, lname, graduation):
    super().__init__(fname, lname)
    self.graduation = graduation

  def welcome(self):
    print("Welcome", self.firstname, "to the class of", self.graduation)

s = Student("Mike", "Olsen", 2019)
s.printname()
s.welcome()

Mike Olsen
Welcome Mike to the class of 2019

## Polymorphism

In [ ]:
# Polymorphism to classes with child classes:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

vehicles = [
  Car("Ford", "Mustang"),
  Boat("Ibiza", "Touring 20"),
  Plane("Boeing", "747")
]

for vehicle in vehicles: vehicle.move()

Move!
Sail!
Fly!