<a href="https://colab.research.google.com/github/dionipadilha/Python/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Variables

In [ ]:
# Variables are containers for storing data values:
# Variables do not need to be declared with any particular type:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
# Variables can even change type after they have been set:
x = 4
x = "John"
print(x)

John

In [ ]:
# specify the data type of a variable:
x = int(3)
y = float(3)
print("x will be:" , x)
print("y will be:" , y)

x will be: 3
y will be: 3.0

In [ ]:
# get the data type of a variable:
x = "Sally"
print(type(x))

<class 'str'>

In [ ]:
# single or double quotes:
x = "John"
y = 'John'
x == y

True

In [ ]:
# Variable names are case-sensitive:
a = 3
A = 4
print(a + A)

7

In [ ]:
# A variable name must start with a letter or the underscore:
myvar = "John"
_my_var = "John"

In [ ]:
# A variable name cannot start with a number:
myvar2 = "John"

In [ ]:
# Multi words variable names:
camelCase = 1
PascalCase = 2
snake_case = 3

In [ ]:
# assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)

Orange

In [ ]:
# assign the same value to multiple variables in one line:
x = y = z = "Orange"
print(y)

Orange

In [ ]:
# Unpack a collection:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(z)

cherry

In [ ]:
# Output multiple variables, separated by a comma:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
# Output multiple variables, using plus operator:
x = "Python " # Notice the space character
y = "is "     # Notice the space character
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
# For numbers, the + character works as a mathematical operator:
x = 5
y = 10
print(x + y)

15

In [ ]:
# Global variables:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
# Local variable:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x) # Python is fantastic

myfunc()

print("Python is " + x) # Python is awesome

Python is fantastic
Python is awesome

In [ ]:
# Create a global variable inside a function:
def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x) # Python is fantastic

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic